// Font
$font-family-base: 'Open Sans', sans-serif;

// Grayscale
$greycom: #D9D9D9;
$stroke: #BDBDBD;

// Semantic Colors
$sidbar: #C5E2FF;
$fillcont: #E9F4FF;

// Brand Palette
$brand-50:  #eff8ff;
$brand-100: #daefff;
$brand-200: #bee4ff;
$brand-300: #91d4ff;
$brand-400: #5dbbfd;
$brand-500: #379cfa;
$brand-600: #217def;
$brand-700: #175fcb;
$brand-800: #1b53b2;
$brand-900: #1c488c;
$brand-950: #162d55;


body {
  font-family: $font-family-base;
}


.bg-bluesky {
  background-color: $sidbar;
}

.bg-darkblue {
  background-color: $brand-950 !important;
}

.bg-darkblue-subtle {
  background-color: $brand-950 !important;
  color: white !important;
}

.text-darkblue {
  color: $brand-950 !important;
}

.btn-darkblue {
  background-color: $brand-950;
  color: #fff;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($brand-900, 10%);
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba($brand-950, 0.3);
  }

  &:active,
  &:focus {
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn-outline-darkblue {
  background-color: transparent;
  color: $brand-950;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid $brand-900;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    background-color: $brand-950;
    color: white;
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba($brand-950, 0.3);
  }

  &:active,
  &:focus {
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.nav-custom-item {
  display: block;
  width: 100%;

  .nav-bluelink {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.6rem 1rem;
    color: black;
    text-decoration: none;
    border-radius: 0.35rem;
    transition: all 0.3s ease;

    &.active {
      background-color: $brand-950;
      color: white;
    }

    &:hover {
      background-color: lighten($brand-950, 5%);
      color: white;
    }
  }

  &:hover .nav-bluelink {
    background-color: lighten($brand-950, 10%);
    color: white;
  }
}

.sidebar-text {
  font-size: 1rem;
}

.custom-check-blue {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.25em;
  cursor: pointer;
  position: relative;

  &:checked {
    background-color: $brand-950 !important;
    border-color: $brand-950 !important;

    &::before {
      color: white;
      position: absolute;
      left: 0.25em;
      top: 0;
      font-size: 0.8em;
    }
  }
}

.grid-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sidbar;
  overflow: hidden;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  width: 100%;
  height: 100%;
  gap: 1px;
  z-index: 0;
}

.grid-box {
  background-color: rgba(255, 255, 255, 0.318);
  aspect-ratio: 1;
  transform: scale(0.9);
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1px;
  }
}

.grid-content {
  position: relative;
  z-index: 1;
}

.avatar-profile {
  width: 100px;
  height: 100px;
  object-fit: cover;

  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
  }

  @media (min-width: 1200px) {
    width: 200px;
    height: 200px;
  }
}
