body {
  font-family: "Open Sans", sans-serif;
}

.bg-bluesky {
  background-color: #C5E2FF;
}

.bg-darkblue {
  background-color: #162d55 !important;
}

.bg-darkblue-subtle {
  background-color: #162d55 !important;
  color: white !important;
}

.text-darkblue {
  color: #162d55 !important;
}

.btn-darkblue {
  background-color: #162d55;
  color: #fff;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.btn-darkblue:hover {
  background-color: rgb(19.5, 50.1428571429, 97.5);
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(22, 45, 85, 0.3);
}
.btn-darkblue:active, .btn-darkblue:focus {
  box-shadow: none;
}
.btn-darkblue:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-outline-darkblue {
  background-color: transparent;
  color: #162d55;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #1c488c;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.btn-outline-darkblue:hover {
  background-color: #162d55;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(22, 45, 85, 0.3);
}
.btn-outline-darkblue:active, .btn-outline-darkblue:focus {
  box-shadow: none;
}
.btn-outline-darkblue:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.nav-custom-item {
  display: block;
  width: 100%;
}
.nav-custom-item .nav-bluelink {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.6rem 1rem;
  color: black;
  text-decoration: none;
  border-radius: 0.35rem;
  transition: all 0.3s ease;
}
.nav-custom-item .nav-bluelink.active {
  background-color: #162d55;
  color: white;
}
.nav-custom-item .nav-bluelink:hover {
  background-color: rgb(27.2429906542, 55.7242990654, 105.2570093458);
  color: white;
}
.nav-custom-item:hover .nav-bluelink {
  background-color: rgb(32.4859813084, 66.4485981308, 125.5140186916);
  color: white;
}

.sidebar-text {
  font-size: 1rem;
}

.custom-check-blue {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.25em;
  cursor: pointer;
  position: relative;
}
.custom-check-blue:checked {
  background-color: #162d55 !important;
  border-color: #162d55 !important;
}
.custom-check-blue:checked::before {
  color: white;
  position: absolute;
  left: 0.25em;
  top: 0;
  font-size: 0.8em;
}

.grid-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C5E2FF;
  overflow: hidden;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  width: 100%;
  height: 100%;
  gap: 1px;
  z-index: 0;
}

.grid-box {
  background-color: rgba(255, 255, 255, 0.318);
  aspect-ratio: 1;
  transform: scale(0.9);
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.grid-box:hover {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1px;
}

.grid-content {
  position: relative;
  z-index: 1;
}

.avatar-profile {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .avatar-profile {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .avatar-profile {
    width: 200px;
    height: 200px;
  }
}

/*# sourceMappingURL=app.css.map */
